div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
div input{
    border-radius: 5rem 0 0 5rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: rgb(240, 204, 204);
    padding: 1rem;
    font-size: 1rem;
    /* outline: none; */
    outline-color: red;
}
div button{
    background-color: rgb(224, 128, 128);
    border-radius: 0 5rem 5rem 0;
    border: none;
    color: whitesmoke;
    width: 5rem;
    font-size: 1rem;
    border: 0.15rem solid red;
}